/*Importing Inter font from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans-serif: 'Inter', sans-serif;
    --color-flowhite: #fffaf0;
    --color-turboblue: #007990;
    --color-turboblue-darker: #006477;
}

@layer components {
    .turbo-borders {
        @apply border border-gray-400 rounded-md;
    }

    .h1 {
        @apply text-4xl font-bold;
    }

    .h3 {
        @apply text-xl font-bold;
    }

    .btn {
        @apply bg-turboblue rounded-md text-flowhite hover:bg-turboblue-darker hover:cursor-pointer;
    }

    .body-cell-padding {
        @apply p-4;
    }

    .head-cell-padding {
        @apply pb-4 px-4;
    }

    .media-home {
        @apply max-lg:flex-col max-lg:items-center;
    }
}
